<h2>COVID-19 都道府県別感染者数データ</h2>
<table border="1" style="border-collapse: collapse">
  <tr>
    <th>都道府県</th>
    <th>件数</th>
  </tr>

<% @covids.each do |key,value| %>
  <tr>
    <td>
      <%= key %>
    </td>
    <td align="right">
      <%= value.to_s(:delimited) %>
    </td>
  </tr>
<% end %>
<tr>
  <td>
    合計
  </td>
  <td>
    <%= @covids.values.inject(:+).to_s(:delimited) %>
  </td>
</tr>

</table>

<h2>COVID-19 都道府県別感染者数グラフ</h2>

<%= column_chart @covids %>
